<script type="text/html" id="new-app-tmpl">
<table class="table table-bordered">
  <tbody>
    <tr>
      <td><strong>New app page?</strong></td>
      <td>Yes</td>
    </tr>
    <tr>
      <td><strong>App name</strong></td>
      <td>${ fullname }</td>
    </tr>
    <tr>
      <td><strong>App page URL</strong></td>
      <td>
      ${ app_page_url }
      &larr; <em>Doesn't exist yet</em>
      </td>
    </tr>
    <tr>
      <td><strong>Details</strong></td>
      <td>${ details }</td>
    </tr>
    <tr>
      <td><strong>Authors</strong></td>
      <td>
      <ol>
      {{each(i,author) authors}}
        <li>
        ${ author[0] }{{if author[1]}}, ${ author[1] }{{/if}}
        </li>
      {{/each}}
      </ol>
      </td>
    </tr>
    <tr>
      <td><strong>2.x plugin download</strong></td>
      <td><a href="${ cy2x_plugin_download }">${ cy2x_plugin_download }</a></td>
    </tr>
    <tr>
      <td><strong>2.x plugin version</strong></td>
      <td>${ cy2x_plugin_version }</td>
    </tr>
    <tr>
      <td><strong>Supported IGB versions</strong></td>
      <td>${ cy_versions }</td>
    </tr>
    <tr>
      <td><strong>Release date</strong></td>
      <td>${ release_date }</td>
    </tr>
    </tr>
  </tbody>
</table>
<span class="pull-right">
  <button class="btn btn-primary" id="accept-btn">Submit New App</button>
</span>
</script>

<script type="text/html" id="existing-app-tmpl">
<table class="table table-bordered">
  <tbody>
    <tr>
      <td><strong>New app page?</strong></td>
      <td>No</td>
    </tr>
    <tr>
      <td><strong>App name</strong></td>
      <td>${ fullname }</td>
    </tr>
    <tr>
      <td><strong>App page URL</strong></td>
      <td><a href="${ app_page_url }" target="_blank">${ app_page_url }</a></td>
    </tr>
    <tr>
      <td><strong>2.x plugin download</strong></td>
      <td><a href="${ cy2x_plugin_download }">${ cy2x_plugin_download }</a></td>
    </tr>
    <tr>
      <td><strong>2.x plugin version</strong></td>
      <td>${ cy2x_plugin_version }</td>
    </tr>
    <tr>
      <td><strong>Supported IGB versions</strong></td>
      <td>${ cy_versions }</td>
    </tr>
    <tr>
      <td><strong>Release date</strong></td>
      <td>${ release_date }</td>
    </tr>
  </tbody>
</table>
<span class="pull-right">
  <button class="btn btn-primary pull-right" id="accept-btn">Update Existing App</button>
</span>
</script>
